@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my_animated {
    animation: from_right 0.5s ease-out;
  }

  @keyframes from_right {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }
}